mixin logo(mix_class)
  img(src="assets/img/logo.svg", class=mix_class).logo


mixin advantage(advantage_img, advantage_description, mix_class)
  li.advantage(class=mix_class)
    img(src=advantage_img).advantage__img
    span.advantage__description= advantage_description

mixin stars(count, mix_class)
  ul(class=mix_class).stars
    - for(let i = 0; i < 5; i++)
      if i < count
        li.stars__item.stars__item--active
      else
        li.stars__item.stars__item--no-active

mixin many_stars(mix_class)
  hr.line
  img(src="../assets/img/many-stars.svg").many-stars__image
  span.many-start__description
  +stars(5, "many-stars__stars")
  hr.line

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Helyfly
  body
    header.site-header
      +logo('site-header__logo')
      .city.site-header__city Москва
      button.site-header__nav-button
    main.site-content
      h1.visually-hidden Hellyfly - фотосессия в вертолете

      section.welcome
        h2.welcome__header Эксклюзивная фотосессия при полете на вертолете
        |
        |
        a(href="#").button.button--light Забронировать место
      section.advantages
        h2.advantages__header Фотосессия в вертолете
        img.advantages__image(src="../assets/img/advantages-image.jpg")

        p.advantages__description.
          Полет на вертолете это прекрасная возможность получить
          новые ощущения! А наш замечательный фотограф запечатлит
          лучшие моменты
        
        ul.advantages
          +advantage("../assets/img/clock.svg", "3 часа съемки", "advantages__item").advantages__item
          +advantage("../assets/img/messaging.svg", "Русский", "advantages__item").advantages__item
          +advantage("../assets/img/cost.svg", "от 850$", "advantages__item").advantages__item
          +advantage("../assets/img/location.svg", "Дубаи", "advantages__item").advantages__item
          +advantage("../assets/img/camera.svg", "Более 50 фотографий", "advantages__item").advantages__item
        +many_stars("advantages")
        

        