- const imgPath = './assets/img'

mixin logo(mix_class)
  img(src=`${imgPath}/logo.svg`, class=mix_class).logo


mixin advantage(advantage_img, advantage_description, mix_class)
  li.advantage(class=mix_class)
    img(src=advantage_img).advantage__img
    span.advantage__description !{advantage_description}

mixin stars(count, mix_class)
  ul(class=mix_class).stars
    - for(let i = 0; i < 5; i++)
      if i < count
        li.stars__item.stars__item--active
      else
        li.stars__item.stars__item--no-active

mixin shedule_item(from, to, cost, left_places, mix_class)
  div(class=mix_class).shedule-item
    span.shedule-item__info #{from} - #{to}
    span.shedule-item__info <strong>#{cost}$</strong>
    span.shedule-item__info Осталось &mdash; #{left_places}
    button.button.button--mini.shedule-item__button Выбрать

mixin many_stars(description, mix_class)
  div(class=mix_class).many-stars
    img(src=`${imgPath}/many-stars.svg`).many-stars__image
    div
      span.many-stars__description !{description}
      +stars(5, "many-stars__stars")

mixin social(mix_class)
  .social
    .social__item.social__item--vk
      a(href="#").social__link
    .social__item.social__item--fb
      a(href="#").social__link
    .social__item.social__item--insta
      a(href="#").social__link

mixin payment_options(mix_class)
  .payment-options
    .payment-option.payment-option--mc
      a(href="#").payment-option__link
    .payment-option.payment-option--visa
      a(href="#").payment-option__link


mixin photographer(mix_class, isHorizontal, showmore_text, isMini)
  .photographer(class=`${mix_class} ${isHorizontal ? "photographer--horizontal" : "photographer--vertical"} ${isMini ? "photographer--mini": ""}`)
    |
    |
    img(src=`${imgPath}/photographer.png`).photographer__image
    
    .photographer__wrapper
      .photographer__name Марина Иванова
      .photographer__profession Фотограф
      |
      |
      a(href="#").photographer__more !{showmore_text}

mixin review(name, profession, photo, date, starsCount, message_header, message)
  .review
    |
    .review__author
      img(src=photo, alt="").review__author-image
      .review__author-info
        span.review__author-name !{name}
        |
        |
        span.review__author-profession !{profession}
        |
        |
        +stars(5, "review__stars")
    
    
    h4.review__message-header !{message_header}
    |
    |
    span.review__message !{message}
    |
    |
    span.review__date !{date}

mixin slider_item(number, name, description)
  li.slider-item
    |
    |
    span.slider-item__number !{number}
    |
    |
    span.slider-item__name <strong>#{name}</strong>
    |
    |
    span.slider-item__description !{description}

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Helyfly
    link(href="./css/style.css", rel="stylesheet")
  body
    header.site-header
      .content.site-header__content
        +logo('site-header__logo')
        .city.site-header__city Москва
        button.site-header__nav-button
    main.site-content
      h1.visually-hidden Hellyfly - фотосессия в вертолете

      section.section.welcome
        .content.welcome__content
          h2.welcome__header Эксклюзивная <span class="welcome__header--orange">фотосессия</span> при полете на вертолете
          
          .price.horizontal-layout
            div.vertical-layout
              span.price__header Стоимость:
              span.price__value 1500₽
          |
          |  
          button.button.button--light.welcome__button Забронировать место
      section.section.content.photosession
        h2.section__header Фотосессия в вертолете
        img.section__image(src=`${imgPath}/advantages-image.jpg`)

        p.section__description.
          Полет на вертолете это прекрасная возможность получить
          новые ощущения! А наш замечательный фотограф запечатлит
          лучшие моменты
        
        ul.photosession__advantages-list
          +advantage(`${imgPath}/clock.svg`, "3 часа съемки", "photosession__advantages-item")
          +advantage(`${imgPath}/messaging.svg`, "Русский", "photosession__advantages-item")
          +advantage(`${imgPath}/cost.svg`, "от <strong>850$</strong>", "photosession__advantages-item")
          +advantage(`${imgPath}/location.svg`, "Дубаи", "photosession__advantages-item")
          +advantage(`${imgPath}/camera.svg`, "Более 50 фотографий", "photosession__advantages-item")
        +many_stars("Более <strong>150</strong> отзывов с оценкой", "photosession__stars")
      
      section.section.photos
        h2.section__header.content Фотографии пакета

        ul.photos__list
          - for(let i = 1; i <= 8; i++)
            li.photos__list-item
              img(src=`${imgPath}/photo-${i}.jpg`).photos__list-image
      section.section.about.content
        h2.visually-hidden Организатор
        +photographer("about__photographer", false, "Показать больше информации о фотографе")

        article.article.about__article
          h2.artical__header Об организаторе
          p.article__text.
            Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются 
            в маркетинге, операциях 
            и услугах обслуживания клиентов, специализирующихся 
            на совместном использовании 
            и частных турах. 
            <br><br>
            Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое соответствует бюджету и планам клиента. 
            Мы никогда не зависим 
            от субпоставщиков 
            и не свяжемся…
          button.arrow-link.arrow-link--right.article__show-more Читать еще

        article.article.about__article
          h2.artical__header Что я предоставлю:
          p.article__text.
            Встречу вас на машине после длительного перелёта.<br>
            Качественный подбор места и локации для вашей съемки.<br>
            При необходимости всегда возможно прерваться на обед/ужин.<br>
            Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
          button.arrow-link.arrow-link--right.article__show-more Читать еще
      
      section.section.photo-sessions.content
        h2.section__header Доступная съемка в ближайщее время

        table.photo-sessions__schedule
          thead
            tr
              th.photo-sessions__schedule-header Пятница, <strong>14</strong> сентября
          tbody
            tr
              td
                +shedule_item("15:00", "18:00", 850, "1 место", "photo-sessions")
            tr
              td
                +shedule_item("19:00", "22:00", 850, "1 место", "photo-sessions")
          tfooter
            tr
              td.photo-sessions__schedule-stars
                +many_stars("Более <strong>150</strong> отзывов с оценкой")
      
      section.map
        img.map__image

        div.content
          div.map__inner
            ul.slider
              +slider_item("1", "Где встречаемся?", "Москва")
              +slider_item("2", "Время съемки", "3 часа")
              +slider_item("3", "Мест осталось", "2 места")
            
            +photographer("map__photographer", true, "Показать больше информации о фотографе", true)

      section.section.reviews.content
        section.section__header Отзывы:

        ul.reviews__list
          li.reviews__item
            +review("Валерия Антонова", "Арт-директор",
              `${imgPath}/review-1.png`, "27 Апреля, 2019г.", 5,
              "Супер! Я бы заказала съемку снова!",
              "Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!")
          li.reviews__item
            +review("Виталий Петров", "Фотограф",
              `${imgPath}/review-2.png`, "19 Апреля, 2019г.", 5,
              "Супер! Я бы заказала съемку снова!",
              "Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!")
          li.reviews__item
            +review("Джим Керри", "Фотограф",
              `${imgPath}/review-3.png`, "11 Апреля, 2019г.", 5,
              "Супер! Я бы заказала съемку снова!",
              "Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя, правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!")
        button.arrow-link.arrow-link--right.reviews__show-more Показать Все (134)
  
    footer.site-footer
      section.site-footer__up
        +logo
        +social

        .site-footer__lang-choser
          button.site-footer__lang-choser-button
      section.site-footer__down
        +payment_options
        span Тех. поддержка: 8(800)700-00-00
        span &copy; 2018 HELYFLY. All Rights Reserved.